compress-decompress-file/src/main/mule/compress-decompress-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="220267cb-c5f3-41d3-97bf-c42dbe0b1476" >
		<http:listener-connection host="localhost" port="8087" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="75ad0656-5462-4601-a126-d74724636225" />
	<file:config name="File_Config1" doc:name="File Config" doc:id="238d3524-3532-4d17-95c7-d31f3e9927bc" />
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="f904b6d7-413a-4ab5-819f-e483ee122de4" >
		<http:listener-connection host="localhost" port="8089" />
	</http:listener-config>
	<flow name="compress-decompress-fileFlow" doc:id="d79fca7b-0d3b-4eca-95fb-b76fc31d30f2" >
		<file:listener doc:name="On New or Updated File" doc:id="ea2b455d-10af-4031-823a-3d4759fa2744" config-ref="File_Config" directory="C:\Users\ApuDas\Downloads\Sender" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<set-variable value="#[attributes.fileName]" doc:name="Set Variable" doc:id="ee81c0c0-e372-4b33-8bb4-55beae8f7707" variableName="fname"/>
		<compression:compress doc:name="Compress" doc:id="1d656c57-2a15-4f7d-ad41-6df613f80169" >
			<compression:compressor >
				<compression:gzip-compressor />
			</compression:compressor>
		</compression:compress>
		<file:write doc:name="Write" doc:id="861d99b9-282f-48ad-9293-bc386df5621d" path="C:\Users\ApuDas\Downloads\Receiver\#[vars.fname]" config-ref="File_Config1"/>
	</flow>
</mule>
