.tooling-apps-cache/app/invoke-java-functions/invoke-java-functions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="642ebfd2-5188-40ca-a10c-ffb3ad05edeb" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<flow name="invoke-java-functionsFlow" doc:id="269d7af6-b20c-4181-b127-dfe916505bbb" >
		<http:listener doc:name="Listener" doc:id="7289b4e0-0d2c-4025-839e-dacf72196227" config-ref="HTTP_Listener_config" path="/invokefunction"/>
		<choice doc:name="Choice" doc:id="7bf42325-efbb-466d-af11-f112e509dae7">
			<when expression="#[attributes.queryParams.invoke == 'static']">
				<logger level="INFO" doc:name="Logger" doc:id="f0f6de95-e789-44b2-82e3-9f82566d1127" message="Start Static method flow"/>
				<java:invoke-static method="sayHello(String)" doc:name="Invoke static" doc:id="b8c96e06-a47f-4e9c-a24c-f2ebffcb2653" class="com.java.invoke.displayName">
					<java:args ><![CDATA[#[{
	name:attributes.queryParams.name
}]]]></java:args>
				</java:invoke-static>
			</when>
			<when expression='#[attributes.queryParams.invoke == "transform"]'>
				<logger level="INFO" doc:name="Logger" doc:id="8ce85a7a-08bc-4b47-bab7-ad3321b10c7f" message="Start DW"/>
				<set-variable value="#[attributes.queryParams.name]" doc:name="Set Variable" doc:id="df3759ac-4031-4d14-8aa1-8c7178b1710d" variableName="nameVars"/>
				<ee:transform doc:name="Transform Message" doc:id="62de763c-6efe-4da4-bd42-0b5815977970" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import java!com::java::invoke::displayName
output application/json
---
{
	Name: displayName::sayHello(vars.nameVars)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="8c7ba058-0d93-4840-b6e0-ceddaef8cc9d" message="Start Non Static method flow"/>
				<java:new doc:name="New" doc:id="dd3f7e23-bffc-4ce6-b6c9-2c7d601e693e" class="com.java.invoke.displayName" constructor="displayName()" target="instanceVar"/>
				<java:invoke doc:name="Invoke" doc:id="ac7ea779-9eac-47af-a5ae-b60aa6c0cfd4" class="com.java.invoke.displayName" instance="#[vars.instanceVar]" method="appendName(java.lang.String,java.lang.String)">
					<java:args ><![CDATA[#[{
	fName: attributes.queryParams.firstName,
	lName: attributes.queryParams.lastName
}]]]></java:args>
				</java:invoke>
			</otherwise>
		</choice>
	</flow>
</mule>
