.tooling/splitter-aggregrator-api7b380666-63b2-4350-9b11-8612cbc00365/splitter-aggregrator-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c385ab72-6cea-4462-aabd-a2bcf20f08fc" >
		<http:listener-connection host="localhost" port="8087" />
	</http:listener-config>
	<flow name="splitter-aggregrator-apiFlow" doc:id="386198f0-6d43-44cd-a1f3-f14da5e3f98b" >
		<http:listener doc:name="Listener" doc:id="9a2fd0dc-fdd6-40bc-8722-8967ae684c6e" config-ref="HTTP_Listener_config" path="/splitter"/>
		<foreach doc:name="For Each" doc:id="89a11eee-da8f-4dec-9ff0-3446bccaac04" >
			<logger level="INFO" doc:name="Logger" doc:id="7ecadc92-aecd-4742-8308-ad07f4d375ef" message="#[payload]"/>
		</foreach>
	</flow>
</mule>
