.tooling-apps-cache/app/chatbot-api/chatbot-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d009a18b-e9d8-4077-adcc-81207084e0f5" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="chatbot-apiFlow" doc:id="bdfe1405-d156-4278-a1d5-4ab6a76841e8" >
		<http:listener doc:name="Listener" doc:id="f83de33a-36b8-4e92-a19f-dfc6cd53165b" config-ref="HTTP_Listener_config" path="/slack"/>
		<logger level="INFO" doc:name="Logger" doc:id="7a0fb645-ed39-4d81-9dd5-07a663764ecc" message="#[payload.txt]"/>
	</flow>
</mule>