.tooling-apps-cache/app/idempotent-message-demo/idempotent-message-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae451450-6373-4aa3-8165-767e7b3e10e6" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="8c0a1da6-5d96-499e-a395-4de996cf24ad" />
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="986d13dc-9703-4a15-8c8b-697d613864b4" >
		<http:listener-connection host="localhost" port="8089" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="86f732f0-6d8f-401e-b2df-5cd33cf9e065" >
		<http:listener-connection host="localhost" port="8091" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="05f9a399-c896-42f2-87f0-6a57b4e0f026" maxEntries="100" entryTtl="30" entryTtlUnit="DAYS" expirationInterval="90" expirationIntervalUnit="DAYS" />
	<flow name="idempotent-message-demoFlow" doc:id="eb73152c-3639-44fb-927f-5f6b618ccd1f" >
		<http:listener doc:name="Listener" doc:id="7d562e13-6bf1-437a-a417-150a856b1006" config-ref="HTTP_Listener_config2" path="/idempotent"/>
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="244ad8f7-12de-4de2-8fc1-66c0706dc884" idExpression="#[payload.Id]" objectStore="Object_store"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3cf6f3af-3a2b-450c-b5fb-ad3b4ea5d79a" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="531a4c1d-b3e4-436b-a7f9-83b83a874590" >
				<set-payload value="Duplicate" doc:name="Set Payload" doc:id="f4567874-543b-4981-82bb-a27b0e2615fc" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>