secure-property-file-test/src/main/mule/secure-property-file-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="2d218294-bcc3-4e86-b1c0-1f7021904ca1" file="Dev-Configuration.properties" key="${key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<global-property doc:name="Global Property" doc:id="f2191fb7-3055-4403-9404-2469fa0e9763" name="key" value="12345" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="829afa85-bd70-44c8-b14a-ff43893a4ae9" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<flow name="secure-property-file-testFlow" doc:id="0d8c8031-625b-4261-a366-0a84b5844e03" >
		<http:listener doc:name="Listener" doc:id="25bc8d92-4512-4f2b-8413-17bdfa965833" config-ref="HTTP_Listener_config" path="/properties"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="06f693e6-0735-4972-89f2-148e6959f8fe" />
		<logger level="INFO" doc:name="Logger" doc:id="c4f6993b-acc7-4c40-8736-27798cd21182" message="#[payload]"/>
	</flow>
</mule>
