.tooling/https-listener-demo4a627cf4-a397-49b1-aeeb-decb1e4ff5ed/https-listener-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="724d21fb-688e-45d4-bb60-6b1ec41b6e71" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="${https.port}" />
	</http:listener-config>
	<flow name="https-listener-demoFlow" doc:id="743917bf-2916-49aa-a531-eb3eb5207c95" >
		<http:listener doc:name="Listener" doc:id="a26c5a0b-4321-4e03-bcfb-459b07630667" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="bcea051b-3f4a-41ce-b74b-3cfbd9251a3d" />
	</flow>
</mule>
